<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--该head是为了引入一些样式-->
<head th:replace="blog/amaze/header::head-fragment">
    <style>
        .hljs {
            background: none;
        }
        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0px 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }
    </style>
</head>
<body id="blog">
<!--该nav是导入了主业的导航条~~<header.html>~~~<nav th:fragment="nav-fragment" >-->
<div th:replace="blog/amaze/header::nav-fragment"></div>
<!--引入头部的样式，如头部的图片---<head.html>--<header th:fragment="header-fragment"-->
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <!--博客首页内容的引入部分-->
    <div th:replace="blog/amaze/blog-list::blog-list-fragment"></div>
    <!--右侧标签的部分内容-->
    <div th:replace="blog/amaze/side::side-fragment"></div>
</div>
<!--该标签是小火箭，样式设置在base.css当中，可点击back-top进行查看-->
<p class="back-top" id="back-top" style="display:none"><a href="#top"><span></span></a></p>
<!--博客首页尾部的引入部分-->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/search/search.js}"></script>
<!--引入的sweetalert的js文件，用于swal()提示框的使用-->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>

<!--小火箭的js操作-->
<script>
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    })
</script>
</html>